.IntelliJIdea12
.IntelliJIdea13
.m2
.bash_history
.config
.dotfiles
.gitconfig
.gitk
.ssh
AppData
Contacts
Cookies
Cropped
Dane aplikacji
Desktop
Documents
Downloads
Favorites
IdeaProjects
Links
Menu Start
Moje dokumenty
Music
NTUSER.DAT
NTUSER.DAT{010fa2ed-4cfb-11e3-93fa-0026b949f8c7}.TM.blf
NTUSER.DAT{010fa2ed-4cfb-11e3-93fa-0026b949f8c7}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{010fa2ed-4cfb-11e3-93fa-0026b949f8c7}.TMContainer00000000000000000002.regtrans-ms
NetHood
Pictures
PrintHood
Recent
Roaming
Saved Games
Searches
SendTo
SkyDrive
Szablony
Ustawienia lokalne
Videos
_viminfo
agent.log
bash
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
